<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/home.css" />
    <script src="./js/home.js" async></script>
    <title>Choir Song Track Home</title>
  </head>
  <body>
    <header>
      <div class="member_name">Welcome Joseph Asare</div>
      <ul class="ul">
        <li><a href="/">Home</a></li>
        <li><a href="/uploads">My Uploads</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <div class="burger">
          <div class=""></div>
          <div class=""></div>
          <div class=""></div>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/uploads">My Uploads</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
