<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Choir Share</title>
    <meta name="description" content="Share choral music to help others learn.">
    <link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="public/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="public/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="public/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="public/assets/css/styles.css">
</head>

<body style="background: var(--bs-white);">
    <nav class="navbar navbar-light navbar-expand-md shadow navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/library">Choir Share</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/library">Library</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/uploads">My Uploads</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Notifications</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                </ul><span class="navbar-text actions"> <a class="login" href="#"></a><a class="btn btn-light action-button" role="button" href="#">Logout</a></span>
            </div>
        </div>
    </nav>
    <div class="container bg-dark p-1 bg-white" style="background: transparent;min-height: 70vh;">
        <div class="row row-cols-1 row-cols-sm-2 p-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div class="col mb-1">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Song Title</h4>
                        <h6 class="text-muted card-subtitle mb-2">Composer</h6>
                        <h6 class="text-muted card-subtitle mb-2">posted 30 minutes ago</h6>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        <div class="row">
                            <div class="col-md-9"><a href="#">View</a></div>
                            <div class="col"><i class="fa fa-star fa fa-trash text-danger"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-1">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Song Title</h4>
                        <h6 class="text-muted card-subtitle mb-2">Composer</h6>
                        <h6 class="text-muted card-subtitle mb-2">posted 6:18pm</h6>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">View</a><a class="card-link" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col mb-1">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Song Title</h4>
                        <h6 class="text-muted card-subtitle mb-2">Composer</h6>
                        <h6 class="text-muted card-subtitle mb-2">posted 20th June 2022</h6>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">View</a><a class="card-link" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col mb-1">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Song Title</h4>
                        <h6 class="text-muted card-subtitle mb-2">Composer</h6>
                        <h6 class="text-muted card-subtitle mb-2">posted 20th June 2022</h6>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">View</a><a class="card-link" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-basic">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2021</p>
    </footer>
    <script src="public/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>